.welderInput {
  margin-top: 3%;
  margin-left: 72%;
  width: 300px;
}

.welderNothing {
  margin-top: 3%;
  margin-left: 72%;
  width: 20%;
}

.ant-input-search-button {
  background-color: rgba(228, 122, 58);
  border-color: rgba(228, 122, 58);
}

.ant-input-search-button:hover {
  background-color: rgba(228, 122, 58) !important;
}

.welderDetail {
  justify-content: center;
  display: flex;
  margin-top: 3%;
}

.welderDefectDetailCard {
  width: 40%;
}

.welderImageInfo {
  display: block;
  margin: auto 0 auto 5%;
}

.welderImage {
  display: block;
  height: 300px;
  width: 230px;
  background-image: url('../../assets/png/default_image.png');
  background-size: cover;
}

.welderName {
  font-size: 20px;
  font-weight: bold;
}

.welderSuccessDetail {
  margin-bottom: 2%;
}

.welderDefectDetail {
  margin-bottom: 2%;
}

.cardTitle {
  margin-top: 0px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.rtCard {
  display: flex;
  justify-content: center;
}

.ant-statistic {
  display: inline-block;
}

.ant-statistic-title {
  display: inline-block;
  color: white !important;
  margin-right: 1%;
}

.ant-statistic-content {
  display: inline-block;
}

.statistic {
  text-align: center;
}