.main-header {
  height: 90px;
  justify-content: space-between;
  max-width: 100%;
  align-items: center;

  .demo-logo {
    height: 55px;
    width: 60px;
    background-image: url('../../assets/png/hanwha_logo.png');
    background-size: cover;
    margin-right: 10px;
  }

  .logo-site-name {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-right: 2.5%;
  }

  .menu-buttons {
    display: flex;
    align-items: center;
    font-size: 20px;
    text-align: center;
  }

  .ant-menu-item:hover {
    color: #F37321 !important;
  }

  .logout-button {
    color: #909090;
    margin-left: auto;
    font-weight: bold;
  }

  .logout-button:hover {
    color: #F37321 !important;
  }
}