.filter-button {
    font-weight: bold;
    font-Size: 20px;
}

.filter-button:hover {
    border-color: rgba(228, 112, 58) !important;
}

.checkbox {
    font-weight: bold;
    font-Size: 20px;
    margin: 0;
}

.score {
    font-weight: bold;
    font-Size: 20px;
    margin: 0;
}