.main-header {
    height: 80px;
}


.demo-logo {
    height: 55px;
    width: 60px;
    background-image: url('../assets/png/hanwha_logo.png');
    background-size: cover;
    margin-right: 10px;
}

.site-name {
    margin-right: 10%;
}

.menu-buttons {
    color: #909090;
    // padding: '0 20px';
    // margin: 10%;
    display: flex;
    align-items: center;
    font-size: 25px;
    text-align: center;
}

// .menu-buttons:hover {
// color: #F37321;
// }


.ant-menu-item:hover {
    color: #F37321 !important;
}

.ant-menu-item::after {
    color: #F37321 !important;
}

// .ant-menu-item-selected {
// background-color: #F37321 !important;
// color: #F37321 !important;
// }

.logout-button {
    color: #909090;
    margin-left: auto;
    font-weight: bold;
}

.logout-button:hover {
    color: #F37321 !important;
}