.demo-logo {
    height: 55px;
    width: 60px;
    background-image: url('../assets/png/hanwha_logo.png');
    background-size: cover;
    margin-right: 10px;
}

.site-name {
    margin-right: 10%;
}

.menu-buttons {
    color: #909090;
    padding: '0 20px';
    display: flex;
    align-items: center;
}


.logout-button {
    color: #909090;
    // align-content: right;
    margin-left: auto;
}