.rt-image {
    margin-left: 5%;
    margin-right: 5%;
    border-top: 2.5px solid white;
    border-bottom: 2.5px solid white;
}

.ant-table-thead>tr>th {
    text-align: center !important;
}

.ant-table-tbody>tr>td {
    text-align: center !important;
}

.ant-table-cell {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#table-fixed-height tbody {
    height: 50%;
}