.ant-btn-icon {
  svg {
    color: white !important;
  }
}

.body-container {
  padding: 5%;
}

.drag-container {
  width: 50%;
  margin: auto;
  color: white;
}

.cardTitle {
  color: white;
  text-align: center !important;
}

.defect-card-container {
  width: 60%;
  height: 30%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 10%;
}

.defect-card {
  background-color: #121212;
  margin: auto;
}