.ant-btn-icon {
  svg {
    color: white !important;
  }
}

.body-container {
  background-color: rgb(18, 18, 18);
  padding: 5%;
}

.drag-container {
  width: 50%;
  margin: auto;
  color: white;
}

.cardTitle {
  color: white;
}

.defect-card {
  background-color: black;
  width: 55%;
  padding: 15%;
  margin: auto;

}



