.rt-images-grid {
    background-color: #121212;
    color: white;
    text-align: center;
    padding-top: 2.5%;
}

.each-grid {
    margin-top: 2%;
}

.ant-pagination-item-active {
    background-color: #121212 !important;
    border-color: #121212 !important;

    a {
        color: rgba(228, 122, 58) !important;
    }
}

.ant-pagination-item-ellipsis {
    color: #909090 !important;
}

.ant-pagination-item-link {
    color: rgba(255, 255, 255) !important;
}

.ant-pagination-item-link-icon {
    color: #909090 !important;
}