// .upload-table {
// background-color: #121212;
// padding: 3%;

// }


// .image-button {
// color: white !important;
// border: #F37321;
// text-align: center;
// margin-top: 10px;
// padding-top: 2.5%;
// }
p {
    // color: white;
}

.ant-upload-icon {

    svg {
        // need to be modified
        // color: white;
    }
}

.ant-btn-icon {

    svg {
        color: white !important;
    }
}

.body-container {
    background-color: rgb(18, 18, 18);
    padding: 5%;
    // margin-top: 10%;
}

.drag-container {
    width: 50%;
    margin: auto;
    color: white;
}